---
import MainLayout from "../layouts/MainLayout.astro";
import Scrollindicator from "../components/Scrollindicator.astro"
import "../styles/main.css";
---
<MainLayout>
    <div class="scroll_indicator">
        <Scrollindicator />
      </div>
      <div class="logo-top">
        <img src="../../public/ikoner/itmv-logo.svg" alt="logo">
      </div>
    <div id="nav-bar-top">
    <nav class="topnav">
        <a href="#top">Hvem er vi?</a>
        <a href="#sec1">Syerske</a>
        <a href="#sec2">Repair service</a>
        <a href="#sec3">Samarbejde</a>
        <a href="#sec4">Q&A</a>
    </nav></div>
    <div id="sec1" class="fg1">
        <p>Parralax scroll effect</p>
        <p>This site is used for teaching purposes. Many elements are temporary and erroneous dummies used to
            illustrate
            different aspects of coding. This specific page is experimenting with the CSS parallax scroll effect in
            order to ad more "debth" to the page</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lectus quis sem lacinia nonummy.
            Proin
            mollis lorem non dolor. In hac habitasse platea dictumst. Nulla ultrices odio. Donec augue. Phasellus
            dui.
            Maecenas facilisis nisl vitae nibh. Proin vel est vitae eros pretium dignissim. Aliquam aliquam sodales
            orci. Suspendisse potenti. Nunc adipiscing euismod arcu. Quisque facilisis mattis lacus. Fusce bibendum,
            velit in venenatis viverra, tellus ligula dignissim felis, quis euismod mauris tellus ut urna.</p>
    </div>
    <div class="bg2">
        <p class="caption"><span class="text">VERY SEXY EFFECT</span></p>
    </div>
    <div id="sec2" class="fg2">
        Proin scelerisque. Nulla in mi. Integer ac leo. Nunc urna ligula, gravida a, pretium vitae, bibendum nec,
        ante.
        Aliquam ullamcorper iaculis lectus. Sed vel dui. Etiam lacinia risus vitae lacus. Aliquam elementum
        imperdiet
        turpis. In id metus. Mauris eu nisl. Nam pharetra nisi nec enim. Nulla aliquam, tellus sed laoreet blandit,
        <p>eros urna vehicula lectus, et vulputate mauris arcu ut arcu. Praesent eros metus, accumsan a, malesuada
            et,
            commodo vel, nulla. Aliquam sagittis auctor sapien. Morbi a nibh. Si meliora dies, ut vina, poemata
            reddit,
            velim scire, chartis pretium quotus arroget annus. scriptor abhinc annos centum qui decidit, inter
            perfectos
            veteresque referri debet an inter vilis atque novos? Excludat iurgia finis, "Est vetus atque probus,
            centum
            qui perficit annos." Quid, qui deperiit minor uno mense vel anno, inter quos referendus erit?
        </p>
    </div>
    <div class="bg3">
        <p class="caption"><span class="text">BUT TOO LATE...?</span></p>
    </div>
    <div id="sec3" class="fg3">
        Si meliora dies, ut vina, poemata reddit, velim scire, chartis pretium quotus arroget annus. scriptor abhinc
        annos centum qui decidit, inter perfectos veteresque referri debet an inter vilis atque novos? Excludat
        iurgia
        finis, "Est vetus atque probus, centum qui perficit annos." Quid, qui deperiit minor uno mense vel anno,
        inter
        quos referendus erit?
        <p></p>poemata reddit, velim scire, chartis pretium quotus arroget annus. scriptor abhinc annos centum qui
        decidit, inter perfectos veteresque referri debet an inter vilis atque novos? Excludat iurgia finis, "Est
        vetus
        atque probus, centum qui perficit annos.
        <h2>Alan Engelhardt @ KEA</h2>
        <p>Associate lecturer @ Copenhagen School of Design and Technology</p>
        </p>
    </div>
    <div id="sec4" class="bg4">
        <p class="caption_last"><span class="text">ANYWAY HERE IT IS</span></p>
    </div>
</MainLayout>

<style>
    .scroll_indicator {
  position: sticky;
  top: 0;
}
img{
    width: auto;
    height: 80px;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;

}
    #nav-bar-top{
        position: fixed;
    text-align:center;
    position:fixed;
    z-index:9999;
    margin: 0 auto; left:0px; right:0px;
    float:clear;
    }
    #sec1{
        height: 600px
    }
    #sec2{
        height: 600px
    }
    #sec3{
        height: 600px
    }
    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: center;
       gap: 30px;
       padding-top: 25px;
       flex-wrap: wrap;
    }
    a{
        /* hjælp med font var */
       display: flex;
       justify-content: center;
       align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: var(--font-weight-light);
        background-color: #DDD7CB;
        width: 130px;
        height: 40px;
        border-radius: 100px;
        color: black;
        text-decoration: none;
    }
</style>
<script>
//     window.addEventListener("scroll", updateIndicator);

// function updateIndicator() {
//   const scrolled = document.body.scrollTop || document.documentElement.scrollTop;
//   const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
//   const scrolledfactor = (scrolled / height) * 100;
//   document.querySelector(".scroll_indicator").style.width = scrolledfactor + "%";
// }

</script>
