---
import "../styles/main.css";
import MainLayout from "../layouts/MainLayout.astro";
import HeroPage from "../components/Hero.astro";
import OmOs from "../components/OmOs.astro";
import Illustration1 from "../components/Illustration1.astro";
import MoedAnsatte from "../components/MødAnsatte.astro";
import Repair from "../components/RepairService.astro";
import Samarbejde from "../components/Samarbejde.astro";
import Graf from "../components/Graf.astro";
import Illustration2 from "../components/Illustration2.astro";
import QA from "../components/QA.astro";
import Snakke from "../components/Snakke.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
import Footer from "../components/Footer.astro";
import Scrollindicator from "../components/Scrollindicator.astro";
import Logoheader from "../components/Logo-header.astro";
import Syerske from "../components/Syerske.astro";
---

<MainLayout title="I Tråd Med Verden">
  <HeroPage />
  <div class="scroll_indicator">
    <Scrollindicator />
  </div>
  <div class="header_logo_container">
    <Logoheader />
  </div>
  <div class="burger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="header_nav_container">
    <div id="nav-bar-top">
      <nav class="topnav">
        <a href="#sec1">Hvem er vi?</a>
        <a href="#sec2">Syerske</a>
        <a href="#sec3">Repair service</a>
        <a href="#sec4">Samarbejde</a>
        <a href="#sec5">Q&A</a>
        <a href="#sec6">Kontakt os</a>
      </nav>
    </div>
  </div>
  <section id="sec1">
    <OmOs />
    <Illustration1 />
  </section>
  <section id="sec2">
    <Syerske />
    <MoedAnsatte />
  </section>
  <section id="sec3">
    <Repair />
  </section>
  <section id="sec4">
    <Samarbejde />
    <!-- ESG cards -->
    <Graf />
    <Illustration2 />
  </section>

  <section id="sec5">
    <h1 class="qa_h1">Q&A</h1>
    <div>
      <QA title="Hvad er Repair Service?">
        <p>
          Repair service er en ydelse, hvor vi tilbyer reparation, tilpasning og
          fornyelse af tøj til din virksomheds medarbejdere. Vores team består
          af to syerske og en designer. De vil sidde klar ved symaskinerne, til
          at hjælpe jer med at forlænge levetiden på tøjet. Vi tilbyder bl.a.
          oplægning, reparation af lynlås og huller samt broderi m.m.
        </p>
      </QA>
    </div>
    <div>
      <QA title="Hvad koster Repair Service?">
        <p>
          <strong>Den enkle</strong>: repair service én gang i 6 timer med 3
          personer pr. gang er <strong>5400 kr. ex moms.</strong>
        </p>
        <br />
        <p>
          <strong>Den månedlige (1 år)</strong>: repair service én gang om
          måneden (12 gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >54.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den månedlige (1/2 år)</strong>: repair service én gang om
          måneden (6 gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >27.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den kvartale</strong>: repair service én gang i kvartalet (4
          gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >18.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den kontinuerlige (1 år)</strong>: repair service 2 gang om
          måneden (24 gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >108.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den intensive</strong>: repair service en hel uge intensivt (5
          dage) i 6 timer med 2 personer i 5 dage <strong
            >20.500 kr. ex moms</strong
          > (4100 kr. pr. gang).
        </p>
      </QA>
    </div>
    <div>
      <QA title="Hvordan laver jeg en donation?">
        <p>
          <strong>Scan QR-koden og donér på Mobilepay 971216</strong>
          <br /> Ønsker man en faktura eller at benytte bankoverførsel, kontakt Martha
          på mail maro@itmv.dk
        </p>
        <div>
          <img src="../../public/img/donation.png" alt="Mobilepay QR-kode" />
        </div>
      </QA>
    </div>
    <div>
      <QA title="Hvordan kontakter jeg jer?">
        <p>
          Du er altid velkommen til at kontakte os på: <br /><strong
            >Mail:</strong
          > itmv@itmv.dk
          <br /><strong>Telefon:</strong> 60877307.
        </p>
      </QA>
    </div>
    <div>
      <QA title="Hvordan indgår jeg et samarbejde med jer?">
        <p>
          Som socialøkonomisk virksomhed samarbejder vi indenfor to områder. Vi
          samarbejder om <strong>produktion til virksomheder</strong>, og så
          samarbejder vi om <strong>beskæftigelsesrettede forløb</strong> med <strong
            >jobcentre i de kommuner
          </strong> vores værksteder ligger i.
        </p>
        <br />
        <p>
          I er altid velkommene til at kontakte os ved at udfylde vores
          kontaktformular forneden.
        </p>
        <br />
        <p>
          Yderligere er vi også tilgængelige på <strong>Mail:</strong>
          itmv@itmv.dk
          <br /><strong>Telefon:</strong> 60877307.
        </p>
      </QA>
    </div>
  </section>
  <section id="sec6">
    <Snakke />
    <KontaktFormular />
  </section>
  <Footer />
</MainLayout>

<style>
  .qa_h1 {
    max-width: var(--small-container);
    margin: auto;
  }
  .scroll_indicator {
    position: sticky;
    top: 0;
    z-index: 9979;
  }
  .header_logo_container {
    position: sticky;
    top: 0;
    z-index: 9989;
  }
  .header_nav_container {
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  #nav-bar-top {
    text-align: center;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    float: clear;
  }
  .topnav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
    flex-wrap: wrap;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font-weight-light);
    background-color: #ddd7cb;
    width: 130px;
    height: 40px;
    border-radius: 100px;
    color: black;
    text-decoration: none;
  }

  .burger-menu {
    cursor: pointer;
    z-index: 2;
    display: none; /* Hide the burger menu icon by default */
    cursor: pointer;
    position: fixed; /* Position the burger menu fixed to the viewport */
    top: 20px; /* Adjust the distance from the top */
    right: 20px; /* Adjust the distance from the right */
    z-index: 9999; /* Ensure the burger menu appears above other content */
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #7b6153;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* Add hover effect to the burger menu lines */
  .bar:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    .topnav {
      display: none; /* Hide the navigation links by default on smaller screens */
    }

    .topnav.active {
      display: flex; /* Show the navigation links when burger menu is clicked */
    }

    .burger-menu {
      display: block; /* Show the burger menu icon on smaller screens */
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerMenu = document.querySelector(".burger-menu");
    const navLinks = document.querySelector(".topnav");

    burgerMenu.addEventListener("click", function () {
      navLinks.classList.toggle("active");
    });
  });
</script>
