---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>I Tråd Med Verden</title>
		<link rel="stylesheet" href="main.css">
		<script src="main.js" defer></script>
	</head>
	<body>
		<h1>Astro</h1>
		<section id="hero">
			<div class="hero_wrapper">
				<div class="logo">
					<img src="" alt="">
				</div>
				<h1 id="hero-tekst">"Vi er en lokal løsning til et globalt problem"</h1>
				<p id="hero-undertekst">- Liv, Chef for Design og Udvikling</p>
			</div>
		</section>
	</body>
</html>
