---
import "../styles/main.css";
import MainLayout from "../layouts/MainLayout.astro";
import HeroPage from "../components/Hero.astro";
import OmOs from "../components/OmOs.astro";
import Illustration1 from "../components/Illustration1.astro";
import MoedAnsatte from "../components/MødAnsatte.astro";
import Repair from "../components/RepairService.astro";
import Samarbejde from "../components/Samarbejde.astro";
import Graf from "../components/Graf.astro";
import Illustration2 from "../components/Illustration2.astro";
import QA from "../components/QA.astro";
import Snakke from "../components/Snakke.astro";
import KontaktFormular from "../components/KontaktFormular.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="I Tråd Med Verden">
  <HeroPage />
  <OmOs />
  <Illustration1 />
  <!-- En af vores syreske -->
  <MoedAnsatte />
  <Repair />
  <Samarbejde />
  <!-- ESG cards -->
  <Graf />
  <Illustration2 />
  <section>
    <h1 class="qa_h1">Q&A</h1>
    <div>
      <QA title="Hvad er Repair Service?">
        <p>
          Repair service er en ydelse, hvor vi tilbyer reparation, tilpasning og
          fornyelse af tøj til din virksomheds medarbejdere. Vores team består
          af to syerske og en designer. De vil sidde klar ved symaskinerne, til
          at hjælpe jer med at forlænge levetiden på tøjet. Vi tilbyder bl.a.
          oplægning, reparation af lynlås og huller samt broderi m.m.
        </p>
      </QA>
    </div>
    <div>
      <QA title="Hvad koster Repair Service?">
        <p>
          <strong>Den enkle</strong>: repair service én gang i 6 timer med 3
          personer pr. gang er <strong>5400 kr. ex moms.</strong>
        </p>
        <br />
        <p>
          <strong>Den månedlige (1 år)</strong>: repair service én gang om
          måneden (12 gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >54.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den månedlige (1/2 år)</strong>: repair service én gang om
          måneden (6 gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >27.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den kvartale</strong>: repair service én gang i kvartalet (4
          gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >18.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den kontinuerlige (1 år)</strong>: repair service 2 gang om
          måneden (24 gang i alt) i 6 timer med 3 personer pr. gang er <strong
            >108.000 kr. ex moms</strong
          > (4500 kr. pr. gang).
        </p>
        <br />
        <p>
          <strong>Den intensive</strong>: repair service en hel uge intensivt (5
          dage) i 6 timer med 2 personer i 5 dage <strong
            >20.500 kr. ex moms</strong
          > (4100 kr. pr. gang).
        </p>
      </QA>
    </div>
    <div>
      <QA title="Hvordan laver jeg en donation?">
        <p>
          <strong>Scan QR-koden og donér på Mobilepay 971216</strong>
          <br /> Ønsker man en faktura eller at benytte bankoverførsel, kontakt Martha
          på mail maro@itmv.dk
        </p>
        <div>
          <img src="../../public/img/donation.png" alt="Mobilepay QR-kode" />
        </div>
      </QA>
    </div>
    <div>
      <QA title="Hvordan kontakter jeg jer?">
        <p>
          Du er altid velkommen til at kontakte os på: <br /><strong
            >Mail:</strong
          > itmv@itmv.dk
          <br /><strong>Telefon:</strong> 60877307.
        </p>
      </QA>
    </div>
    <div>
      <QA title="Hvordan indgår jeg et samarbejde med jer?">
        <p>
          Som socialøkonomisk virksomhed samarbejder vi indenfor to områder. Vi
          samarbejder om <strong>produktion til virksomheder</strong>, og så
          samarbejder vi om <strong>beskæftigelsesrettede forløb</strong> med <strong
            >jobcentre i de kommuner
          </strong> vores værksteder ligger i.
        </p>
        <br />
        <p>
          I er altid velkommene til at kontakte os ved at udfylde vores
          kontaktformular forneden.
        </p>
        <br />
        <p>
          Yderligere er vi også tilgængelige på <strong>Mail:</strong>
          itmv@itmv.dk
          <br /><strong>Telefon:</strong> 60877307.
        </p>
      </QA>
    </div>
  </section>
  <Snakke />
  <KontaktFormular />
  <Footer />
</MainLayout>

<style>
  .qa_h1 {
    max-width: var(--small-container);
    margin: auto;
  }
</style>
