---
import ButtonKnap from "../components/Button.astro";
import Illustration1 from "../components/Illustration1.astro";
import Illustration2 from "../components/Illustration2.astro";
import MoedAnsatte from "../components/MødAnsatte.astro";
import Samarbejde from "../components/Samarbejde.astro";
import Graf from "../components/Graf.astro";
import Repair from "../components/RepairService.astro";
import QA from "../components/QA.astro";
import "../components/QA.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<MainLayout>
  <ButtonKnap
    link="https://www.google.com/webhp?hl=da&sa=X&sqi=2&pjf=1&ved=0ahUKEwiPv6XB1MaFAxX-BNsEHVkoBOEQPAgJ"
    title="Send ewfnwklnklwnfklew"
  />

  <Illustration1 />
  <Illustration2 />

  <MoedAnsatte />
  <Samarbejde />
  <Graf />
  <Repair />
  <QA title="Here's an Accordion">
    <h1>Hello</h1>
  </QA>
</MainLayout>
