---
import "../styles/main.css";
const { name } = Astro.props;
---

<section class="CardContainer">
  <slot />
  <p class="phototext">{name}</p>
</section>

<style>
  .CardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .phototext {
    color: var(--red);
  }

  @media (max-width: 768px) {
    .CardContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
</style>
