---
import "../styles/main.css";
---

<footer class="footer-grid">
  <article class="beige">
    <ul>
      <li>Om os</li>
      <li>Shop</li>
      <li>Book os</li>
      <li>Samarbejde</li>
      <li>Kontakt</li>
      <li>Presse</li>
      <li>Handelsbetingelser</li>
      <li>Betaling</li>
      <li>Privatlivspolitik</li>
    </ul>
  </article>
  <article class="beige2">
    <ul>
      <li><strong>Her finder du os:</strong></li>
      <li>
        <strong>Værkstedet i Lundtoftegade</strong>
        <br />Lundtoftegade 23, 1 sal <br />2200 København N
      </li>
      <li>
        <strong>Værkstedet i Farum Midtpunkt</strong><br /> Nygårdterasserne
        213A <br />3520 Farum
      </li>
      <li>
        <strong>Mail:</strong> itmv@itmv.dk <br /><strong>Telefon:</strong>
         60877307 <br /><strong>CVR:</strong> 34449686
      </li>
    </ul>
  </article>
  <article class="centered">
    <h3>Tilmeld nyhedsbrev</h3>
    <form action="contact" method="POST" data-netlift="true">
      <div class="email">
        <label for="email"><h4>Email</h4></label>
        <input type="email" id="email" name="email" required />
      </div>
    </form>
    <button class="outlined-button">Sign up</button>
    <div class="icon-container">
      <img src="../../public/img/Facebook.png" alt="" class="small-icon" />
      <img src="../../public/img/Instagram.png" alt="" class="small-icon" />
      <img src="../../public/img/Linkedin.png" alt="" class="small-icon" />
    </div>
  </article>
</footer>

<style>
  .centered {
    background-color: #3d5d6d;
  }

  h3,
  h4,
  button {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
  }

  h3 {
    font-size: 1.4em;
    padding-top: 112px;
    padding-bottom: 24px;
    padding-left: 98px;
  }

  h4 {
    font-size: 1em;
    padding-bottom: 12px;
    padding-left: 98px;
  }

  .beige {
    background-color: #efeee9;
    padding-top: 48px;
    padding-bottom: 64px;
    padding-left: 64px;
  }

  .beige2 {
    background-color: #efeee9;
    padding-top: 48px;
    padding-bottom: 64px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.2rem;
  }

  .beige2 li {
    background-color: #efeee9;
    padding-top: 4px;
    padding-bottom: 24px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family:
      Helvetica Light,
      sans-serif;
  }

  .footer-grid article:nth-child(1) {
    background-color: #efeee9;
  }

  .footer-grid article:nth-child(2) {
    background-color: #efeee9;
  }

  .footer-grid article:nth-child(3) {
    background-color: #3d5d6d;
  }

  article li {
    margin-bottom: 12px;
    color: #1b2830;
    padding: 4px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  input {
    width: 288px;
    height: 46px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 12px;
    margin-left: 98px;
  }

  .outlined-button {
    width: 288px;
    height: 46px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 12px;
    margin-left: 98px;
  }

  .outlined-button:hover {
    background-color: #ffffff;
    color: #3d5d6d;
    cursor: pointer;
  }

  .small-icon {
    width: 48px;
    height: 48px;
    margin-right: 4px;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
  }
</style>
