---
import "../styles/main.css";
---

<section class="tekst_wrapper">
  <p>
    Vi har visualiseret vores salgskurve fra 2020-2023. I ser her udviklingen i
    vores samarbejde med de lokale jobcentre og salget i B2B (Business to
    Business) og B2C (Business to Customer).
  </p>
  <p>
    Udviklingen til B2B og B2C er stigende, og vi ser at virksomheder også har
    mere fokus på EGS-målene, og hvordan man bedst muligt kan implementere dette
    i deres virksomhed.
  </p>
  <div class="graf">
    <img
      src="../img/graf.svg"
      alt="ITMV's udvikling af B2B og B2C fra 2020-2023"
    />
  </div>
</section>

<style>
  .tekst_wrapper {
    padding: 240px 0 80px 0;
    max-width: var(--small-container);
    margin: auto;
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }

  .graf {
    max-width: 100%;
    height: 100%;
  }
</style>
