---
import "../styles/main.css";
---

<section id="hero">
    <div class="hero_wrapper">
        <div class="logo">
            <img src="" alt="">
        </div>
        <h1 id="hero-tekst">"Vi er en lokal løsning til et globalt problem"</h1>
        <p id="hero-undertekst">- Liv, Chef for Design og Udvikling</p>
    </div>
</section>

<style>


</style>