---
import "../styles/main.css";
import ButtonKnap from "../components/Button.astro";
---

<section class="tekst_wrapper">
  <h1>Flere spørgsmål? Send os en mail:</h1>
  <form action="contact" method="POST" data-netlify="true">
    <div class="row">
      <div class="col">
        <label for="name">Navn</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="col">
        <label for="topic">Emne</label>
        <input type="text" id="topic" name="topic" required />
      </div>
    </div>
    <div class="row">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="row">
      <label for="message">Besked</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <ButtonKnap link="https://www.itmv.dk/" title="Send" />
  </form>
</section>

<style>
  .tekst_wrapper {
    padding: 240px 0 80px 0;
    max-width: var(--small-container);
    margin: auto;
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    width: 48%; /* Adjust width as needed */
    margin-right: 2%; /* Adjust spacing between columns */
  }

  label,
  input,
  textarea,
  button {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }
</style>
