---
import "../styles/main.css";
import ButtonKnap from "../components/Button.astro";
---

<section class="tekst_wrapper">
  <h1>Flere spørgsmål? Send os en mail:</h1>
  <form action="contact" method="POST" data-netlify="true">
    <div class="name">
      <label for="name">Navn</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="emne">
      <label for="topic">Emne</label>
      <input type="text" id="topic" name="topic" required />
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="besked">
      <label for="message">Besked</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <div>
      <ButtonKnap link="https://www.itmv.dk/" title="Send" />
    </div>
  </form>
</section>

<style>
  .tekst_wrapper {
    padding: 240px 0 80px 0;
    max-width: var(--small-container);
    margin: auto;
    color: var(--blue);
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }

  label,
  input,
  textarea,
  button {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: stretch;
  }

  .name {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1;
    padding-right: 5px;
  }

  .emne {
    display: grid;
    grid-column: 2 / span 2;
    grid-row: 1;
    padding-left: 5px;
  }

  .email {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  .besked {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3;
  }
</style>
