---
import "../styles/main.css";
---

<div class="logo-top">
  <img id="logo-header" src="/ikoner/itmv-logo.svg" alt="logo" />
</div>

<style>
  #logo-header {
    width: auto;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
  }
  .logo-top {
    position: sticky;
  }
</style>
