---
import "../styles/main.css";
import Cardsplace from "../components/Cards.astro";
---

<section class="tekst_wrapper">
  <h1>Mød vores andre ansatte</h1>
  <p>
    I Tråd med Verden består af et samlet team på 12 ansatte, som er fordelt ud
    på vores værksteder på Nørrebro og i Farum. Fire af os er fultidsansatte, og
    8 er i fleksjob eller deltidsansat. Yderligere har vi også mulighed for at
    modtage flere i praktik eller kortere forløb. Her ser i tre af vores
    ansatte. <br />
    <strong>Parveen</strong> er syerske og ansat i fleksjob. <strong
      >Olena</strong
    > og <strong>Ira</strong> er begge syerske og ansat på deltid.
  </p>
  <article class="cards">
    <img src="/img/parveen1.png" alt="" />
    <img src="/img/oleena4.png" alt="" />
    <img src="/img/ira3.png" alt="" />
  </article>
</section>

<style>
  .tekst_wrapper {
    padding: 350px 0 0 0;
    max-width: var(--small-container);
    margin: auto;
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 150px;
  }

  @media (max-width: 768px) {
    .cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 50px;
    }

    img {
      max-width: 40%;
    }
  }
  @media (min-width: 700px) {
    .tekst_wrapper {
      padding: 500px 0 0 0;
      max-width: var(--small-container);
      margin: auto;
    }
  }
  @media (min-width: 800px) {
    .tekst_wrapper {
      padding: 600px 0 0 0;
      max-width: var(--small-container);
      margin: auto;
    }
  }

  @media (min-width: 1000px) {
    .tekst_wrapper {
      padding: 800px 0 0 0;
      max-width: var(--small-container);
      margin: auto;
    }
  }
  @media (min-width: 1200px) {
    .tekst_wrapper {
      padding: 900px 0 0 0;
      max-width: var(--small-container);
      margin: auto;
    }
  }
</style>
