---
import "../styles/main.css";
---

<section class="tekst_wrapper">
  <h1>Hvem er vi?</h1>
  <p>
    I Tråd Med Verden har siden 2018 specialiseret sig i genanvendelse af
    kasserede tekstiler i samspil med socialtfagligt arbejde med mennesker der
    står udenfor arbejdsmarkedet.
  </p>

  <p>
    Vi samarbejder med virksomheder, som ønsker at udnytte vores tilbud om
    repair service, samt få produceret nye produkter af kasserede tekstiler
    inden for syning, plantefarve eller broderi.
  </p>
  <p>
    Med vores team af designere og socialt fagligt personale sørger vi for flow,
    fleksibilitet og tryghed i processen fra ide til færdigt produkt.
  </p>
  <article class="cards">
    <img src="/img/stefani1.png" alt="" />
    <img src="/img/liv1.png" alt="" />
    <img src="/img/luna1.png" alt="" />
  </article>
</section>

<style>
  .tekst_wrapper {
    padding: 100px 0 10px 0;
    max-width: var(--small-container);
    margin: auto;
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 150px;
  }

  @media (max-width: 768px) {
    .cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 50px;
    }

    img {
      max-width: 40%;
    }
  }
</style>
