---
import "../styles/main.css";
---

<section class="tekst_wrapper">
  <h1>Repair service</h1>
  <p>
    Vi tilbyder reparation, tilpasning og fornyelse af tøj til dig eller din
    virksomheds medarbejdere. Vores team består af to syerske og en designer. De
    vil sidde klar ved symaskinerne, til at hjælpe jer med at forlænge levetiden
    på tøjet.
  </p>
  <p>
    Gør genanvendelse let og tilgængeligt for dine medarbejdere og styrk din
    virksomheds <strong>E</strong> (environmental) & <strong>S</strong> (social)
    i jeres ESG mål. Vi kommer ud til din virksomhed med vores REPAIR SERVICE - (Københavnsområdet,
    tilgængeligt med offentlig transport).
  </p>
</section>

<style>
  .tekst_wrapper {
    padding: 240px 0 80px 0;
    max-width: var(--small-container);
    margin: auto;
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }
</style>
