---
import "../styles/main.css";
---

<section class="tekst_wrapper">
  <h1>Hvorfor vælge et samarbejde med os?</h1>
  <p>
    Vær med til at støtte vores arbejde med at skabe livskvalitet gennem design
    og arbejdsfællesskab.
  </p>
  <p>
    Vi bidrager til et rummeligt arbejdsmarked ved at ansætte kvinder i ordinær
    beskæftigelse med fokus på kvindernes kompetencer og ressourcer, som skal
    sættes i spil på det danske arbejdsmarked.
  </p>
  <p>
    Yderligere ønsker vi at bidrage til den grønne omstilling ved at skabe en
    cirkulær produktion, hvor kasserede tekstiler kan få nyt liv i stedet for at
    ende på forbrændingen.
  </p>
  <p>
    Ved at være partner med ITMV, styrker I jeres virksomheds <strong>E</strong>
    (environmental) & <strong>S</strong> (social) i jeres ESG mål. Sammen kan skabe
    fremtidens bæredygtige tekstilvirksomhed med social ansvarlighed som kompas.
  </p>
</section>

<style>
  .tekst_wrapper {
    padding: 80px 0 20px 0;
    max-width: var(--small-container);
    margin: auto;
  }

  .tekst_wrapper h1 {
    padding-bottom: 2rem;
  }

  .tekst_wrapper p {
    padding-bottom: 2rem;
  }
</style>
