---
import "../styles/main.css";
---

<section id="syerske">
    <div class="section-container">
    <div class="card-container"><img src="../img/billede1.png" alt="syerske-photo">
    <p class="phototext">Magdalena</p>
    </div>
    <div class="text-container">
        <h2>En af vores syersker</h2>
        <p>Most fonts have a particular weight which corresponds to one of the numbers in Common weight name mapping. However some fonts, called variable fonts, can support a range of weights with a more or less fine granularity, and this can give the designer a much closer degree of control over the chosen weight.</p><p>Most fonts have a particular weight which corresponds to one of the numbers in Common weight name mapping. However some fonts, called variable fonts, can support a range of weights with a more or less fine granularity, and this can give the designer a much closer degree of control over the chosen weight.</p></div>
</div>
</section>
<section class="video-section-container">
    <div>
        <h2>Lær hende at kende:</h2>
    </div>
</section>


<style>
#syerske{
    display:flex;
    flex-direction: row;
}
.section-container{
    padding: 0 200px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 96px;
}
.video-section-container{
    padding: 60px 200px;
}

p{
    font-size: 20px;
    padding-top:30px;
}
.phototext{
    color: var(--red);
    padding-top:0px;
}
</style>